@import "_vars";
@import "_libs";
@import "_fonts";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6,
p {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

button,
input,
textarea {
  outline: none;
  border: none;
  margin: 0;
}

button {
  cursor: pointer;
}

body {
  font-size: 16px;
  line-height: 24px;
  color: $text;
  @extend %rs-regular;
}

//global website styles

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  font-size: 20px;
  @extend %monts-regular;
  padding-bottom: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: $text;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.btn {
  padding: 15px 30px;
  text-transform: uppercase;
  border: 2px solid #fff;

  &:hover {
    background-color: #fff;
    color: $accent;
  }
}

.animation-hide {
  opacity: 0;
}
