$accent: #c0301c;
$text: #555555;

%rs-regular {
  font-family: 'RobotoSlab', sans-serif;
  font-weight: 400;
}

%rs-bold {
  font-family: 'RobotoSlab', sans-serif;
  font-weight: 700;
}

%monts-regular {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

%monts-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
